.tree {
  padding: 0px;
  font-size: 14px;
  user-select: none;
}

.tree ul {
  padding-left: 18px;
}

/* 列表高度 */
.tree li, .tree .libg, .tree li div {
  height: 26px;
  line-height: 26px;
}

.tree li img {
  float: left;
  width: 18px;
  height: 18px;
  /* (列表高度-这里的height) / 2 = margin-top */
  margin-top: 4px;
  margin-right: 6px;
}

.tree .libg {
  left: 0px;
  width: 100%;
  opacity: 0.4;
  position: absolute;
}

.tree .libg:hover {
  background-color: #e1edfb;
}

.tree .libg_active {
  background-color: #82aadb;
}

.tree .child {
  list-style-type: none;
}

.tree .parent {
  line-height: 18px;
  padding-left: 18px;
  list-style-type: none;
  background-size: 8px 18px;
  background-repeat: no-repeat;
  /* (列表高度-这里的background-size中的高度) / 2 = background-position-y */
  background-position-y: 4px;
  background-image: url("../img/tree_arrow_close.png");
}
